div.square {
  width: 50px;
  height: 50px;
  margin-left: 100px;
  margin-bottom: 40px;
  animation-duration: 2s;
}

div#content {
  perspective: 500px;
  perspective-origin: 0% 50%;
  transform-style: preserve-3d;
}

div#a1 {
  background-color: darkorange;
}

div#a2 {
  background-color: green;
}

div#a3 {
  background-color: orange;
  text-align: center;
  line-height: 50px; 
}

div#a4 {
  background-color: blue;
}

div#a5 {
  background-color: yellow;
}

div#a6 {
  background-color: brown;
}

div#a7 {
  background-color: purple;
}

div#a8 {
  background-color: magenta;
}

div#a9 {
  background-color: darkgray;
}

div#a10 {
  background-color: red;
  transform-origin: 300px 50%;
  animation-iteration-count: 2;
  animation-duration: 1s;
}


@keyframes a1 {
  100% {
    transform: scale(2);
  }
}

@keyframes a2 {
  100% {
    transform: translate(50px);
  }
}

@keyframes a3 {
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes a4 {
  50% {
    transform: translate(50px);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    translate(0);
  }
}

@keyframes a5 {
  40% {
    transform: translate(50px);
  }
  65% {
    transform: translate(50px, 50px);
  }
  80% {
    transform: translate(50px, -50px);
  }
  90% {
    transform: translate(50px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}


@keyframes a6 {
  50% {
    transform: translate(200px) rotate(1080deg);
  }
  100% {
    transform: translate(0px) rotate(0deg);
  }
}

@keyframes a7 {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes a8 {
  25% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(0.2, 0.2);
  }
  75% {
    transform: scale(0.2, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes a9 {
  33% {
    transform: skew(20deg);
  }
  66% {
    transform: skew(-20deg);
  }
  100% {
    transform: skew(0deg);
  }
}

@keyframes a10 {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
